# The Telegram Bot Token from BotFather
TELEGRAM_BOT_TOKEN=

# The Chat ID of the Admin/Support group where messages should be sent
TELEGRAM_CHAT_ID=

# Sanity configuration
SANITY_PROJECT_ID=
SANITY_DATASET=production
